<!-- Botón para abrir el formulario de nueva reparación -->


<!-- Modal formulario para añadir/editar reparación -->
<div *ngIf="mostrarFormulario" class="modal">
  <div class="modal-content">
    <h3>{{ reparacionSeleccionada.id ? 'Modificar Reparación' : 'Añadir Reparación' }}</h3>
    <form (ngSubmit)="guardarReparacion()">
      <label>
        Descripción:
        <input
          type="text"
          [(ngModel)]="reparacionSeleccionada.descripcion"
          name="descripcion"
          required
          minlength="5"
        />
      </label>

      <label>
  Trabajador asignado:
  <select [(ngModel)]="reparacionSeleccionada.trabajador" name="trabajador" required>
    <option [ngValue]>Seleccione un trabajador</option>
    <option *ngFor="let t of trabajadores" [ngValue]="t">
      {{ t.nombreCompleto}}
      {{this.trabajadorAnadido==t}}
    </option>
  </select>
</label>

<label>
  Usuario cliente:
  <select [(ngModel)]="reparacionSeleccionada.user" name="userId" required>
    <option [ngValue]>Seleccione un usuario</option>
    <option *ngFor="let u of usuarios" [ngValue]="u">
      {{ u.nombre }} {{ u.apellidos }}
      {{this.usuarioAnadido==u}}
    </option>
  </select>
</label>

      <label>
        Fecha y hora inicio:
        <input
          type="datetime-local"
          [(ngModel)]="reparacionSeleccionada.horaInicio"
          name="horaInicio"
          required
        />
      </label>

      <label>
        Fecha y hora fin (opcional):
        <input
          type="datetime-local"
          [(ngModel)]="reparacionSeleccionada.horaFin"
          name="horaFin"
        />
      </label>

      <label>
        Estado:
        <select [(ngModel)]="reparacionSeleccionada.estado" name="estado" required>
          <option value="PENDIENTE">PENDIENTE</option>
          <option value="EN_PROCESO">EN_PROCESO</option>
          <option value="EN_CABINA">EN_CABINA</option>
          <option value="FINALIZADA">FINALIZADA</option>
          <option value="CANCELADA">CANCELADA</option>
        </select>
      </label>

      <div class="botones-formulario">
        <button type="submit">{{ reparacionSeleccionada.id ? 'Actualizar' : 'Crear' }}</button>
        <button type="button" (click)="cerrarFormulario()">Cancelar</button>
      </div>
    </form>
  </div>
</div>

<!-- Filtros -->
<div class="filtros-container">
  <label for="clienteId">Filtrar por Cliente (ID):</label>
  <input
    type="text"
    id="clienteId"
    [(ngModel)]="clienteSeleccionadoId"
    placeholder="Introduce ID cliente"
  />
  <button (click)="filtrarPorCliente()">Buscar Cliente</button>

  <label for="fechaInicio">Fecha Inicio:</label>
  <input
    type="date"
    id="fechaInicio"
    [(ngModel)]="fechaInicio"
  />

  <label for="fechaFin">Fecha Fin:</label>
  <input
    type="date"
    id="fechaFin"
    [(ngModel)]="fechaFin"
  />

  <button (click)="aplicarFiltroFecha()">Filtrar por Fecha</button>
  <button (click)="cargarTodasLasReparaciones()">Limpiar Filtros</button>
 </div>



<div class="filtros-container">
  <div style="display: flex; justify-content: flex-end; gap: 10px;">
 <button (click)="abrirFormularioOrden()" style="background-color:green;float: right;">Nueva Orden de Trabajo</button>
  <button (click)="mostrarFormularioPre()" style="background-color:green;">Nuevo Presupuesto</button>
  </div>
  </div>

<!-- Listado de reparaciones -->
<div class="reparaciones-container">
<ng-container *ngFor="let reparacion of reparaciones">
  <div

    class="reparacion-card"
    [ngStyle]="{
      'background': esClienteConPresupuestoAceptado(reparacion) ? '#d4edda' : 'white'
    }"
  >
        <h3>{{ reparacion.descripcion }}</h3>
        <p><strong>Cliente:</strong> {{ reparacion.user.nombre }} {{ reparacion.user.apellidos }}</p>
        <p><strong>Teléfono:</strong> {{ reparacion.user.telefono || 'No disponible' }}</p>
        <p><strong>Trabajador:</strong> {{ reparacion.trabajador?.nombreCompleto || 'Sin asignar' }}</p>
        <p><strong>Inicio:</strong> {{ formatFecha(reparacion.horaInicio) }}</p>
        <p><strong>Fin:</strong> {{ reparacion.horaFin ? formatFecha(reparacion.horaFin) : 'En curso' }}</p>
        <p><strong>estado Reparacion</strong>
          {{reparacion.estado }}</p>
        <div>
        <button (click)="abrirFormulario(reparacion)"style="margin: 10px;">Editar</button>
        <button
    *ngIf="reparacion"
    (click)="abrirFormularioPiezas(reparacion)" >
    Mostrar/Añadir Piezas
  </button>

      </div>
  </div>
</ng-container>
  <button class="reparacion-card" (click)="abrirFormulario()">Nueva Reparación</button>
</div>
<div *ngIf="mostrarFormularioOrden" class="modal">
  <div class="modal-content">
    <h3>Añadir Orden de Trabajo</h3>
    <form (ngSubmit)="enviarOrdenDeTrabajo()">

      <label>
        Reparación asociada:
        <select [(ngModel)]="reparacionSeleccionadaParaOrden" name="reparacionId" required>
          <option [ngValue]="null">Selecciona una reparación</option>
          <option *ngFor="let rep of reparaciones" [ngValue]="rep">
            {{ rep.descripcion }} (ID: {{ rep.id }})
          </option>
        </select>
      </label>

      <label>
        Descripción:
        <input type="text" [(ngModel)]="descripcionOrden" name="descripcionOrden" required />
      </label>
      <label>
  Trabajador asignado:
  <select [(ngModel)]="trabajadorSeleccionadoOrden" name="trabajadorOrden" required>
    <option [ngValue]="null" disabled>-- Selecciona un trabajador --</option>
    <option *ngFor="let t of trabajadores" [ngValue]="t">{{ t.nombreCompleto }}</option>
  </select>
</label>

      <label>
        Matrícula del vehículo:
        <input type="text" [(ngModel)]="matriculaOrden" name="matriculaOrden" required />
      </label>

      <div class="botones-formulario">
  <button
    type="submit"
    class="guardar-btn"
    [disabled]="!esClienteConPresupuestoAceptado(reparacionSeleccionadaParaOrden)"
  >
    Enviar
  </button>

  <button type="button" class="cancelar-btn" (click)="cerrarFormularioOrden()">
    Cancelar
  </button>
</div>

    </form>
  </div>
</div>

<!-- Modal para gestionar piezas -->
<div *ngIf="mostrarFormularioPiezas" class="modal">
  <div class="modal-content">
<h3>Componentes para la reparación</h3>

<div class="piezas-lista">
  <div *ngFor="let item of piezasAgrupadas" class="pieza-item">
    <div>
      <strong>{{ item.pieza.nombre }}</strong> - Cantidad: {{ item.cantidad }}
    </div>
    <button class="btn-eliminar" (click)="eliminarPiezaDeReparacion(item.pieza)">Eliminar</button>

  </div>
</div>


    <div class="botones-formulario-piezas">
      <button class="guardar-btn" (click)="guardarPiezas()">Guardar</button>
      <button class="cancelar-btn" (click)="cerrarFormularioPiezas()">Cerrar</button>
    </div>

    <hr />

    <!-- Formulario para añadir nuevas piezas -->
    <h4>Añadir Piezas</h4>
    <form (ngSubmit)="agregarPiezaAReparacion()">
      <label>
        Selecciona una pieza:
        <select [(ngModel)]="piezaSeleccionada" name="piezaSeleccionada" required>
          <option [ngValue]="null" disabled>-- Selecciona una pieza --</option>
          <option *ngFor="let pieza of piezasDisponibles" [ngValue]="pieza">
            {{ pieza.nombre }} - {{ pieza.precio | currency:'EUR':'symbol':'1.2-2' }}

          </option>
        </select>
      </label>

      <label>
        Cantidad:
        <input
          type="number"
          [(ngModel)]="cantidadSeleccionada"
          name="cantidadSeleccionada"
          min="1"
          required
        />
      </label>

      <div class="botones-formulario-piezas">
        <button type="submit" class="guardar-btn">Añadir</button>
        <button type="button" class="cancelar-btn" (click)="cerrarFormularioPiezas()">Cerrar</button>
      </div>
    </form>
  </div>
</div>



<div *ngIf="mostrarFormularioPresupuesto" class="modal">
  <div class="modal-content">
    <h3>Crear Presupuesto</h3>
    <form (ngSubmit)="crearPresupuesto()">
      <label for="reparacion">Selecciona Reparación:</label>
      <select [(ngModel)]="reparacionSeleccionada" name="reparacion" required>
        <option [ngValue]="null" disabled>-- Selecciona una reparación --</option>
        <option *ngFor="let rep of reparaciones" [ngValue]="rep">{{ rep.descripcion }}</option>
      </select>

      <label for="matricula">Matrícula:</label>
      <input
        type="text"
        [(ngModel)]="matricula"
        name="matricula"
        required
        placeholder="Ej: 1234ABC"
      />

      <label for="descripcionGeneral">Descripción general:</label>
      <textarea
        [(ngModel)]="descripcionGeneral"
        name="descripcionGeneral"
        rows="3"
        required
        placeholder="Breve descripción del presupuesto"
      ></textarea>

      <div class="botones-formulario">
        <button type="submit">Crear Presupuesto</button>
        <button type="button" (click)="cancelarFormulario()">Cancelar</button>
      </div>
    </form>
  </div>
</div>



